node_modules
elm-stuff/
.idea/

demo/public/Demo.js
demo/publish.sh
demo/public/Demo.min.js
demo/public/index-remote.html

demo-simple/Demo.min.js
demo-simple/Demo.js
demo-simple/public/index-remote.html
demo-simple/*.sh

testSpares/VerifyExamples/
markdown/
