node_modules
elm-stuff/
.idea/

demo/public/Demo.js
demo/publish.sh
demo/public/Demo.min.js
demo/public/index-remote.html

demo-simple/public/index-remote.html
demo-simple/*.sh
demo-simple/public/DemoSimple.js

testSpares/VerifyExamples/
markdown/

