node_modules
elm-stuff/
.idea/

demo/public/Demo.js
demo/scripts/publish.sh
demo/public/Demo.min.js
demo/public/index-remote.html
demno/public/DemoSimple.min.js

demo-simple/public/index-remote.html
demo-simple/*.sh
demo-simple/public/DemoSimple.js
demo-simple/public/DemoSimple.min.js

tests/VerifyExamples/
markdown/

docs/NOTES.md

